@import '../../styles/Global.module.scss';


.products{
    background-color: #f9f9f9;
    margin-top: 50px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 50px;
    margin-bottom: 50px;
    @media screen and (max-width: $phone) {
        margin-top: 25px;
    }
    .productsNav{
        display: flex;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 20px;
        transition: 0.5s;
        .navControl{
            display: flex;
            @media screen and (max-width: $phone) {
                width: 100%;
                position: relative;
                background: #f9f9f9;
                z-index: 5;
                justify-content: center;
            }
        }
        .navButtons{
            @media screen and (max-width: $phone) {
                position: absolute;
                z-index: 0;
                display: flex;
                transition: 0.5s;
                button{
                    font-size: 14px;
                    padding: 6px;
                }
            }
        }

        p, button{
            font-size: 24px;
            color: #a3a3a3;
            letter-spacing: -0.15px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 14px;
            padding: 10px;  
            @media screen and (max-width: $tablet) {
                font-size: 16px;
              }
        }
        .sortButton{
            @media screen and (max-width: $phone) {
                display: flex;
                background:#ededed;
                border-radius:100px;
                cursor: pointer;
                padding: 9px;
                transition: 0.5s;
                border: none;
                &:hover{
                    background:#c7c7c7;
                    color: #ffffff;
                    svg{
                        path{
                            fill: #ffffff;
                        }
                    }
                }
            }
            svg{
                display: none;
                @media screen and (max-width: $phone) {
                    display: block;
                    height: 15px;
                    margin-top: 5px;
                    margin-left: 5px;

                    path{
                        transition: 0.5s;
                        fill: #a3a3a3;
                    }
                }
            }
        }
        .productsQuantity{
            color:#616161;
            padding-right: 24px;
            margin-left: 0;
            padding-left: 0;
            border-right: 1px solid #d9d9d9;
        }
        .productsFilter{
            background:#ededed;
            border-radius:100px;
            cursor: pointer;
            padding: 9px 24px;
            transition: 0.5s;
            border: none;
            &:focus{
                outline: transparent;
            }
            &:hover{
                transform: translateY(-5px);
                background:$primary;
                color: #ffffff;
                -webkit-box-shadow: 0px 6px 18px -4px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 6px 18px -4px rgba(0,0,0,0.75);
                box-shadow: 0px 6px 18px -4px rgba(0,0,0,0.75);
            }
        }

        .active{
            color:#ffffff;
            background:$primary;
            border-radius:100px;
        }

        .navDown{
            transform: translate(0px, 0px);
            @media screen and (max-width: $phone) {
               transform: translateY(80px);
            }
        }

    }
    .navMargin{
        margin-bottom: 60px;
    }
    .cardsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}