/**Variables**/

$primary: #25bbf1;

$desktop: 1200px;
$tablet: 1024px;
$phone: 768px;


/**Variables**/

@font-face{
    font-family: "SourceRegular";
    src: url("../assets/Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
    font-display: swap;
}


@font-face{
    font-family: "SourceBold";
    src: url("../assets/Fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
    font-display: swap;
}


.bodyBg{
    background-color: #f9f9f9;
}

.container { 
    font-family: "SourceRegular", serif; 
    margin-left: auto;
    margin-right: auto;
    max-width: 1176px;
    width: 100%;
    @media screen and (max-width: $desktop) {
        max-width: 992px;
    }

    @media screen and (max-width: $tablet) {
        max-width: 700px;
    }
    @media screen and (max-width: $phone) {
        max-width: 320px;
    }
        
}



